<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
  {% block css %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'cover.css' %}">

  <script src="{% static 'jquery-3.4.1.js' %}"></script>
  <script src="{% static 'bootstrap.bundle.js' %}"></script>

  {% block js %}
  {% endblock %}

</head>


<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
  <header class="masthead mx-auto w-75">
    <div class="inner">
      <h3 class="masthead-brand">NBA资讯站</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a id="search" class="nav-link" href="/">搜索</a>
        <a id="news" class="nav-link" href="/news">新闻</a>
        <a id="teams" class="nav-link" href="/teams">球队</a>
      </nav>
    </div>
  </header>

  {% block body %}
  {% endblock %}

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Powered by <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://github.com/GodofTheFallen">@GodofTheFallen</a>.
      </p>
    </div>
  </footer>
</div>
</body>


</html>