{% extends 'search/base.html' %}
{% load static %}

{% block title %}
  NBA资讯站|搜索
{% endblock %}

{% block css %}
  <style>
    .form-search {
      margin: auto;
    }

    .search-box {
      width: 70vw;
    }

    #search-box {
      height: 2em;
      font-size: 1.2em;
    }

  </style>
{% endblock %}

{% block body %}

  <main role="main" class="inner cover d-flex h-75 align-items-center">
    <form method="get" class="form-search" action="result">
      <div class="form-group">
        <div class="input-group search-box">
          <label for="search-box"> </label>
          <input id="search-box" name="search" type="text" maxlength="40" class="form-control" required>
          <div class="input-group-append">
            <button class="btn btn-info" type="submit">
              搜索
            </button>
          </div>
        </div>
      </div>
    </form>
  </main>
  <script>
      $('#search').addClass("active");
  </script>

{% endblock %}