{% extends 'search/base.html' %}
{% load static %}
{% block title %}
  NBA资讯站|新闻
{% endblock %}
{% block css %}
  <style>
    .newstitle {
      width: 60vw;
      min-width: 60em;
      background: #ffffff;
      border-radius: 5px;
      cursor: pointer;
    }

    h1.title {
      color: #333333;
    }

    #More {
      width: 30vw;
      border-radius: 10px;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    span.time {
      margin-right: 2em;
    }

    span.source {
      margin-left: 2em;
    }

    span.source-and-time {
      font-size: 18px;
      color: #4e555b;
    }
  </style>
{% endblock %}
{% block body %}
  <ul class="list-group mx-auto">
    {% for newstitle in titlelist %}
      <div class="newstitle align-items-center m-3 p-3" id='title-{{ forloop.counter }}'
           onclick="getNewsPage({{ newstitle.id }})">
        <h1 class="title">{{ newstitle.title }}</h1>
        <span class="source-and-time">
          <span class="time">{{ newstitle.time }}</span>
          <span class="source">来源：{{ newstitle.source }}</span>
        </span>
      </div>
    {% endfor %}
  </ul>
  <button class="btn-info more mx-auto p-2" id="More" onclick="show_more()">点击加载更多</button>
  <script>
      $("#news").addClass("active");
  </script>
{% endblock %}

{% block js %}
  <script>
      var max_display = 10;
      const total = Number({{ titlelist|length }});
      $(document).ready(function () {
          for (let i = max_display + 1; i <= total; ++i) {
              $('#title-' + i).hide();
          }
          if (max_display >= total) {
              $('#More').text('已经没有更多了');
              $('#More').attr("disabled", true);
          }
      });

      function getNewsPage(page_number) {
          window.open(`newspage/${page_number}`);
      }

      function show_more() {
          for (let i = max_display + 1; i <= total && i <= max_display + 10; ++i) {
              $('#title-' + i).show();
          }
          max_display += 10;
          if (max_display >= total) {
              $('#More').text('已经没有更多了');
              $('#More').attr("disabled", true);
          }
      }
  </script>

{% endblock %}