{% extends 'search/base.html' %}
{% load static %}
{% block title %}
  NBA资讯站|{{ newspage.title }}
{% endblock %}
{% block css %}
  <style>
    .newstitle {
      border-color: #333333;
      border-style: double;
      border-width: thick;
      border-radius: 10px;
      width: 60vw;
      vertical-align: center;
      padding: 2em;
      background-color: rgb(179, 228, 255);
    }

    .newstitle h1 {
      color: #1b1e21;
    }

    .newsbody {
      background: #ffffff;
      max-width: 70vw;
      margin: 12px;
    }

    p.para {
      font-size: 24px;
      margin: 2em;
    }

    span.time {
      margin-right: 2em;
    }

    span.source {
      margin-left: 2em;
      margin-right: 2em;
    }

    span.source-and-time {
      font-size: 18px;
      color: #4e555b;
      margin-top: 1em;
    }
  </style>
{% endblock %}
{% block body %}
  <div class="newstitle card-title mx-auto">
    <h1>{{ newspage.title }}</h1>
  </div>
  <div class="newsbody card-body mx-auto text-left">
    <br>
    {% for para in newsbody %}
      <p class="para text-dark">
        {{ para }}
      </p>
    {% endfor %}
    <span class="source-and-time float-right">
      <span class="time">{{ newspage.time }}</span>
      <span class="source">来源：{{ newspage.source_name }}</span>
    </span>
  </div>
  <script>
      $("#news").addClass("active");
  </script>
{% endblock %}

{% block js %}

{% endblock %}